body div .carousel{
	height: 300px;
}


.navbar-nav{
	padding-left: 350px;
	
}

.nav-item{
	font-family: dosis;
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;

}

h1,h2,h3{
	font-family: subscriber;
}

p{
	font-family: dosis;
}

.column{
	margin: 70px;
	border-top-style: solid;
	border-width: 10px;
	border-color: #fff0b3;

}

.btn {
	border-color: #fff0b3;
	border-width: 5px;
	color: black;
	width: 150px;

}

.btn:active {
 	color: #fff0b3;
 }

.btn:hover{ 
	background-color: #fff0b3;
	border-color: #fff0b3;
 }

 a{
 	font-family: dosis;
 	color: black

 }

#copyright {
	 font-weight: bold;
}

.footer{
	height: 60px;
	background-color: #fff0b3;
	padding: 20px;



