*{
 box-sizing: border-box	
}

.navbar-nav{
	position: absolute;
    right: 0;
}

.nav-item{
	font-family: dosis;
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.dropdown-menu{
	width:200px;
	left:-75px;
}

.carousel {
  height:500px;
  width: auto;
  margin-bottom: 125px;
}

.carousel-music {
	color: #000000;
}

h1,h2,h3{
	font-family: subscriber;

}

h1{
	color: #8bc6f4;
}

p{
	font-family: dosis;

}

.column{
	margin: 70px;
	border-top-style: solid;
	border-width: 10px;
	border-color: #fff0b3;
	text-align: justify;
	color: #384463;

}

.column h1 {
	text-align: left;
}

.column-login{
	margin: 50px;
	border-top-style: solid;
	border-width: 10px;
	border-color: #fff0b3;
	text-align: justify;
	color: #384463;
}

#aboutus {
	padding: 100px;
	margin: 30px;
}
#aboutus img{
	width: 200px;
	height: 200px;
	float: left;

}

#vision {
	font-style: italic;
	text-align: center

}


.btn {
	border-color: #fff0b3;
	color: #384463;
}

.btn:active {
 	color: #384463;
 }

.btn:hover{ 
	background-color: #fff0b3;
	border-color: #fff0b3;
 }

#btn-login{
	margin-left: 80px;
}

#btn-bookhere a{
	border-width: 5px;
	width: 325px;
	height: 65px;
	font-size: 30px;
}

#btn-submit{
	margin-left: 100px;
}

 a{
 	font-family: dosis;
 	color: #384463;

 }

ul {list-style-type: none;}
body {font-family: Dosis, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #fff0b3;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.5%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.5%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  cursor: pointer;
}

.days li:hover {
	background-color: lightgrey;
}

td{
	cursor: pointer;
}
td:hover{
	background-color: lightgrey;

}

#confirmed{
	padding: 200px;
	text-align: center;
}

#copyright {
	 font-weight: bold;
}

.fa{
	color: #384463;

}

.footer{
	height: 70px;
	background-color: #fff0b3;
	padding: 20px;
	color: #384463;
}

@media (max-width: 575px) {
	.footer {
		height: auto;
	}

	.footer .row {
		text-align: center;
	}
}

